[Unit]
Description=consul-template
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/consul-template
#Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/usr/local/sbin/consul-template $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
